<nav class="navbar navbar-dark mb-4" style="background-color: #456D7A;">
	<div class="container">
		<a class="navbar-brand" href="/">Sistema de Votación ConfiguroWeb</a>
			<span>
				{% if user.is_authenticated %}
					<a class="navbar-brand" href="/profile">Perfil</a>
					<a class="navbar-brand" href="/logout">Cerrar Sesión</a>
				{% else %}
					<a class="navbar-brand" href="/login">Ingresar</a>
					<a class="navbar-brand" href="/register">Regístrate</a>
				{% endif %}
		</span>
	</div>
</nav>
